body {
  font-family: Segoe UI;
}

.box {
  width: 70%;
  margin: auto;
}

select, button {
  padding: 8px;
  margin: 5px;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: center;
}
.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

select, button {
  padding: 6px;
}
