#staffMaster input,
#staffMaster select {
  width: 320px;
  height: 45px;
  margin: 6px;
  font-size: 15px;
}

#staffMaster h3 {
  margin-top: 20px;
  color: #2563eb;
}

#staffTable {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  background: #fff;
}

#staffTable th,
#staffTable td {
  border: 1px solid #ccc;
  padding: 8px;
}

#staffTable th {
  background: #1d4ed8;
  color: #fff;
}

.staff-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
