


body {
  margin: 0;
  font-family: Segoe UI;
  color: rgb(228, 50, 50);
  text-align: center;
}

.title {
  margin-top: 25px;
  font-size: 32px;
}

.screen {
  margin-top: 80px;
}

.btn {
  padding: 22px 60px;
  font-size: 20px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  margin: 20px;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.blue {
  background: linear-gradient(45deg,#2563eb,#1d4ed8);
}

.green {
  background: linear-gradient(45deg,#16a34a,#15803d);
}

.purple {
  background: linear-gradient(45deg,#7c3aed,#6d28d9);
}

.red {
  background: linear-gradient(45deg,#dc2626,#b91c1c);
}

.card {
  background: linear-gradient(45deg,#0ea5e9,#0284c7);
  width: 220px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
/* ===== Master Input Large Size ===== */

input[type="text"],
select {
  width: 380px;
  height: 48px;
  font-size: 18px;
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}


/* ================= APP LAYOUT ================= */

.app-container {
  display: flex;
  height: calc(100vh - 70px);
}

/* LEFT SIDE MENU */
.sidebar {
  width: 250px;
  background: #1f2937;
  color: white;
  padding: 15px;
}

.sidebar h3 {
  margin-top: 0;
  font-size: 18px;
  border-bottom: 1px solid #374151;
  padding-bottom: 8px;
}

/* MENU ITEMS */
.nav-item {
  padding: 8px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.nav-item:hover {
  background: #374151;
}

/* TREE STYLE */
.nav-sub {
  margin-left: 15px;
}

.sub-head {
  font-weight: bold;
  color: #93c5fd;
  cursor: default;
}

.sub-item {
  margin-left: 15px;
  font-size: 14px;
}

.sub-item:hover {
  background: #1e40af;
}

/* RIGHT SIDE CONTENT */
.content {
  flex: 1;
  background: #f4f6fb;
  padding: 10px;
  overflow-y: auto;
}
.screen {
  display: none;
}
.nav-sub {
  display: none;
}

