body {
  margin: 0;
  font-family: Segoe UI;
  background: linear-gradient(135deg,#0f172a,#1e3a8a);
  color: white;
  text-align: center;
}

.title {
  margin-top: 25px;
  font-size: 32px;
}

.screen {
  margin-top: 80px;
}

.btn {
  padding: 22px 60px;
  font-size: 20px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  margin: 20px;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.card {
  background: linear-gradient(45deg,#0ea5e9,#0284c7);
  width: 220px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
/* ===== Master Input Large Size ===== */

input[type="text"],
select {
  width: 380px;
  height: 48px;
  font-size: 18px;
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}
